@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import "variable.scss";

// *************************************
//
//   Mixin
//
// *************************************
@mixin text-style($weight, $size, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
  line-height: 140%;
  text-align: center;
}

// *************************************
//
//   Reset
//
// *************************************
* {
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  color: unset;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea {
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--placeholder);
  }
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans TC";
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans TC";
  background: var(--Body-background);
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

main {
  display: flex;
  margin-top: 37.6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// *************************************
//
//   Margin Classes
//
// *************************************
.m-b-16 {
  margin-bottom: 16px;
}

.m-b-48 {
  margin-bottom: 48px;
}

// *************************************
//
//   Link Styles
//
// *************************************
.no-underline {
  text-decoration: none;
}

// *************************************
//
//   Text Styles
//
// *************************************
.title-block {
  margin-bottom: 32px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  width: fit-content;
  border-radius: 99px;
  border: 3px solid var(--Primary);
  padding: 16px 32px;

  p {
    @include text-style(700, 32px, var(--Primary));
    line-height: 110%;
  }
}

// *************************************
//
//   Card Styles
//
// *************************************
.card {
  margin-bottom: 36px;
  border-radius: 1rem;
  padding: 48px 96px;
  background: var(--Card-Background);
  box-shadow:
    0px 421px 118px 0px rgba(150, 150, 150, 0),
    0px 269px 108px 0px rgba(150, 150, 150, 0.01),
    0px 151px 91px 0px rgba(150, 150, 150, 0.05),
    0px 67px 67px 0px rgba(150, 150, 150, 0.09),
    0px 17px 37px 0px rgba(150, 150, 150, 0.1);
}

.card-title {
  color: var(--Primary);
  @include text-style(400, 32px, var(--Primary));
  letter-spacing: 2.56px;
}

// *************************************
//
//   Guidelines Button
//
// *************************************
.btn-group {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.secondary-btn {
  background: var(--Sec-Cont);
  color: var(--On-Sec-Cont);
}

.primary-btn {
  background: var(--Prim-Cont);
  color: var(--On-Prim-Cont);
}

.back-route {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--On-Surface);
  font-size: 20px;
  font-weight: 350;
  line-height: 140%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  .back-icon {
    color: inherit;
  }
}
