@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
[data-theme=dark] {
  --Primary: #e6e1ff;
  --On-Prim: #2f3677;
  --Secondary: #c1c3ec;
  --On-Sec: #30375c;
  --Prim-Cont: #c6c2f0;
  --On-Prim-Cont: #2b2b79;
  --Sec-Cont: #9197d2;
  --On-Sec-Cont: #0b0b29;
  --Error: #fd8e84;
  --On-Error: #1b0506;
  --Error-Cont: #ffcec6;
  --On-Error-Cont: #a22a2d;
  --Surface: #33333a;
  --On-Surface: #f4f2fd;
  --On-Surface-Var: #a9a9a9;
  --Surface-Dim: #6f7185;
  --Inverse-Surface: #4d4d4d;
  --On-Inv-Surf: #fff;
  --Outline: #f3f3f3;
  --Outline-Variant: #27282e;
  --Overlay: rgba(0, 0, 0, 0.6588235294);
  --Input-box: #424451;
  --On-input-box: #fff;
  --On-input-sec: #e0e0e0;
  --Card-Background: rgba(0, 0, 0, 0.66);
  --Body-background: linear-gradient(180deg, #444270 20.67%, #ffdad6 161.35%);
  --svg-fill-color: rgba(54, 56, 70, 0.22);
  --svg-icon: #f3f3f3;
}

[data-theme=light] {
  --Primary: #2f3677;
  --On-Prim: #fff;
  --Secondary: #7a82c1;
  --On-Sec: #fff;
  --Prim-Cont: #5e60a8;
  --On-Prim-Cont: #fff;
  --Sec-Cont: #c6c2f0;
  --On-Sec-Cont: #31314b;
  --Error: #c93639;
  --On-Error: #fff;
  --Error-Cont: #ffcec6;
  --On-Error-Cont: #a22a2d;
  --Surface: #f3f3f7;
  --On-Surface: #262c61;
  --On-Surface-Var: #a7a7a8;
  --Surface-Dim: #dbdce6;
  --Inverse-Surface: #6d7188;
  --On-Inv-Surf: #fff;
  --Outline: #adb0c3;
  --Outline-Variant: #c4c6d5;
  --Overlay: rgba(54, 56, 70, 0.6588235294);
  --Input-box: #fff;
  --On-input-box: #2f3677;
  --On-input-sec: #757577;
  --Card-Background: rgba(255, 255, 255, 0.33);
  --Body-background: linear-gradient(44deg, #f1f0f7 -1.03%, #dce1ff 101.53%);
  --svg-fill-color: rgba(54, 56, 70, 0.22);
  --svg-icon: #adb0c3;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  color: unset;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input:focus,
textarea:focus {
  outline: none;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--placeholder);
}
input::placeholder,
textarea::placeholder {
  color: var(--placeholder);
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans TC";
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans TC";
  background: var(--Body-background);
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

main {
  display: flex;
  margin-top: 37.6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-b-48 {
  margin-bottom: 48px;
}

.no-underline {
  text-decoration: none;
}

.title-block {
  margin-bottom: 32px;
  width: 1113px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 99px;
  border: 3px solid var(--Primary);
  padding: 16px 32px;
}
.title p {
  font-weight: 700;
  font-size: 32px;
  color: var(--Primary);
  line-height: 140%;
  text-align: center;
  line-height: 110%;
}

.card {
  margin-bottom: 36px;
  border-radius: 1rem;
  padding: 48px 96px;
  background: var(--Card-Background);
  box-shadow: 0px 421px 118px 0px rgba(150, 150, 150, 0), 0px 269px 108px 0px rgba(150, 150, 150, 0.01), 0px 151px 91px 0px rgba(150, 150, 150, 0.05), 0px 67px 67px 0px rgba(150, 150, 150, 0.09), 0px 17px 37px 0px rgba(150, 150, 150, 0.1);
}

.card-title {
  color: var(--Primary);
  font-weight: 400;
  font-size: 32px;
  color: var(--Primary);
  line-height: 140%;
  text-align: center;
  letter-spacing: 2.56px;
}

.btn-group {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.secondary-btn {
  background: var(--Sec-Cont);
  color: var(--On-Sec-Cont);
}

.primary-btn {
  background: var(--Prim-Cont);
  color: var(--On-Prim-Cont);
}

.back-route {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--On-Surface);
  font-size: 20px;
  font-weight: 350;
  line-height: 140%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.back-route .back-icon {
  color: inherit;
}/*# sourceMappingURL=main.css.map */