@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import "variable.scss";

// *************************************
//
//   Reset
//
// *************************************
* {
  box-sizing: border-box;
  word-wrap: break-word;
}

a {
  color: unset;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea {
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--placeholder);
  }
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans TC";
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans TC";
  background: var(--Body-background);
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

main {
  display: flex;
  margin-top: 37.6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

// *************************************
//
//   Variables
//
// *************************************
$font-family-base: "Noto Sans TC";
$border-radius: (
  'sm': 6px,
  'md': 16px,
  'lg': 99px
);
$spacing: (
  'xs': 4px,
  'sm': 8px,
  'md': 16px,
  'lg': 24px,
  'xl': 32px,
  '2xl': 48px,
  '3xl': 58px,
  '4xl': 96px
);
$font-sizes: (
  'sm': 14px,
  'base': 16px,
  'md': 20px,
  'lg': 24px,
  'xl': 32px
);

$spacing-large: 58px;
$spacing-medium: 31px;
$spacing-small: 16px;

// *************************************
//
//   Mixins
//
// *************************************
@mixin text-style($weight, $size, $color, $line-height) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
  line-height: $line-height;
  text-align: center;
}

@mixin card-base {
  position: relative;
  border-radius: map-get($border-radius, 'md');
  background: var(--Card-Background);
  box-shadow:
    0px 421px 118px 0px rgba(150, 150, 150, 0),
    0px 269px 108px 0px rgba(150, 150, 150, 0.01),
    0px 151px 91px 0px rgba(150, 150, 150, 0.05),
    0px 67px 67px 0px rgba(150, 150, 150, 0.09),
    0px 17px 37px 0px rgba(150, 150, 150, 0.1);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input-field {
  width: 100%;
  padding: 20px 22px;
  border-radius: 16px;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 350;
  line-height: 140%;
}

@mixin title-text {
  color: var(--Primary);
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
}

@mixin home-card-base {
  width: 612px;
}

// *************************************
//
//   Layout & Common
//
// *************************************
.m-b-16 {
  margin-bottom: map-get($spacing, 'md');
}

.m-b-48 {
  margin-bottom: map-get($spacing, '2xl');
}

.no-underline {
  text-decoration: none;
}

// *************************************
//
//   Components
//
// *************************************

// Title Block Component
.title-block {
  margin-bottom: map-get($spacing, 'xl');
  width: 1113px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .title {
    width: fit-content;
    border-radius: map-get($border-radius, 'lg');
    border: 3px solid var(--Primary);
    padding: map-get($spacing, 'md') map-get($spacing, 'xl') map-get($spacing, 'md') map-get($spacing, 'xl');

    p {
      @include text-style(700, map-get($font-sizes, 'xl'), var(--Primary), 110%);
    }
  }
}

// Card Component
.card {
  @include card-base;
  margin-bottom: 36px;
  padding: map-get($spacing, '2xl') map-get($spacing, '4xl') map-get($spacing, '2xl') map-get($spacing, '4xl');

  &-title {
    color: var(--Primary);
    @include text-style(400, map-get($font-sizes, 'xl'), var(--Primary), 140%);
    letter-spacing: 2.56px;
  }

  &-1 {
    position: relative;
    padding: map-get($spacing, 'xl') map-get($spacing, '3xl') map-get($spacing, 'xl') map-get($spacing, '3xl');
  }

  &-2 {
    position: relative;
    padding: map-get($spacing, '3xl');
  }

  &-sec-title {
    @include text-style(400, map-get($font-sizes, 'lg'), var(--Secondary), 140%);
    letter-spacing: 2px;
  }

  &-text {
    @include text-style(400, map-get($font-sizes, 'md'), var(--On-Surface-Var), 140%);
  }
}

// Button Components
.btn-group {
  display: flex;
  gap: map-get($spacing, 'lg');
  justify-content: center;

  .back-edit {
    display: flex;
    gap: 6px;
    color: var(--On-Surface-Var);
    align-items: center;
    font-size: 20px;
    font-weight: 350;
    line-height: 140%;
  }
}

.secondary-btn {
  background: var(--Sec-Cont);
  color: var(--On-Sec-Cont);
}

.primary-btn {
  background: var(--Prim-Cont);
  color: var(--On-Prim-Cont);
}

.btn-group {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.secondary-btn {
  background: var(--Sec-Cont);
  color: var(--On-Sec-Cont);
}

.primary-btn {
  background: var(--Prim-Cont);
  color: var(--On-Prim-Cont);
}

.back-route {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--On-Surface);
  font-size: 20px;
  font-weight: 350;
  line-height: 140%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  .back-icon {
    color: inherit;
  }
}

.theme-toggle-button {
  background-color: var(--svg-fill-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 8px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;

  .theme-icon {
    color: var(--On-Inv-Surf);
  }

  &:hover {
    background-color: var(--Overlay, rgba(54, 56, 70, 0.66));
  }
}

.toggle-switch {
  display: block;
  position: relative;

  .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;

    &:checked + .toggle-label {
      background: var(--Prim-Cont);

      .toggle-slider {
        transform: translateX(24px);
      }
    }
  }

  .toggle-label {
    display: block;
    background: var(--Prim-Cont);
    border-radius: 99px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 3px;
    width: 52px;
    align-items: center;

    .toggle-slider {
      width: 22px;
      height: 22px;
      background-color: var(--On-Prim);
      border-radius: 50%;
      transition: transform 0.3s ease;
      display: block;
    }
  }
}

.lottie-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--Overlay, rgba(0, 0, 0, 0.75));
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  .lottie-animation {
    display: flex;
    padding: 48px;
    border-radius: 24px;
    background: var(--Surface);
    width: 300px;
    height: 336px;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;

    .lottie {
      margin-top: 29px;
      margin-bottom: 29px;
    }
  }

  .lottie-text {
    font-size: 24px;
    color: var(--On-Surface-Var);
    font-weight: 700;
    line-height: 110%;
  }
}

.download-template {
  width: 390px;
  height: 844px;
  background: linear-gradient(44deg, #f1f0f7 -1.03%, #dce1ff 101.53%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;

  .logo {
    width: 191px;
    height: 35px;
  }

  .template-container {
    width: 343px;
    height: 543px;
    border-radius: 32px;
    background: var(--Card-Background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 32px 0px;
    box-shadow:
      0px 421px 118px 0px rgba(150, 150, 150, 0),
      0px 269px 108px 0px rgba(150, 150, 150, 0.01),
      0px 151px 91px 0px rgba(150, 150, 150, 0.05),
      0px 67px 67px 0px rgba(150, 150, 150, 0.09),
      0px 17px 37px 0px rgba(150, 150, 150, 0.1);

      .domain {
        margin-bottom: 12px;
        color: #4D5C92;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1.92px;
      }

      .sub-title {
        color: #757680;
        text-align: center;

        font-size: 20px;
        font-weight: 350;
        line-height: 140%;
      }

      .check-in-time {
        margin-top: 12px;
        color: #03174B;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
      }

      .qr-code-container {
        width: 232px;
        height: 283px;
        border-radius: 16px;
        background: #FFF;
        transform: rotate(-0.035deg);
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;

        .qr-code {
          width: 150px;
          height: 150px;
        }
        .label {
          color: #03174B;
          text-align: center;

          font-size: 24px;
          font-weight: 400;
          line-height: 140%;
          letter-spacing: 1.92px;
        }
      }
  }
}

// home
.home {
  .card-block {
    position: relative;
    width: 100%;
    margin: auto;
  }
  .card {
    @include home-card-base;
    margin: auto;

    &-1 {
      padding: $spacing-medium $spacing-large $spacing-medium $spacing-large;
      margin-bottom: 36px;
    }

    &-2 {
      padding: $spacing-large;
    }

    &-title {
      @include text-style(400, 32px, var(--On-Surface), 140%);
      letter-spacing: 2.56px;

      &.m-b-16 {
        margin-bottom: $spacing-small;
      }

      &.m-b-48 {
        margin-bottom: 48px;
      }
    }

    &-sec-title {
      @include text-style(400, 24px, var(--Secondary), 140%);
      letter-spacing: 2px;
    }

    &-text {
      @include text-style(400, 20px, var(--On-Surface-Var), 140%);
    }

    .error-title {
      @include text-style(700, 32px, var(--Prim-Cont), 140%);
      margin-bottom: 24px;
    }
    .error-text {
      @include text-style(400, 24px, var(--On-input-sec), 140%);
      letter-spacing: 1.92px;
    }
  }

  .btn-group {
    gap: $spacing-small;
  }

  .no-underline {
    text-decoration: none;
  }

  .loading {
    .card-1 {
      height: 191px;
      position:relative;
      padding: 0;
      overflow: hidden;
    }
    .card-2 {
      height: 341px;
      padding: 0;
      overflow: hidden;
    }

    .lottie {
      width: 100%;
      position: relative;
      object-fit: cover;
      transform: scale(3); 
    }
  }
}

.form {
  .card {
    width: 1113px;
    @include flex-center;
    flex-direction: column;

    &-content {
      width: 563px;
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    &-title {
      @include text-style(400, 32px, var(--On-Surface-Var), 140%);
    }
  }

  .link-button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font: inherit;
    @include text-style(500, 20px, var(--Secondary), 140%);
  }

  .form-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .back-route {
    display: flex;
    align-items: center;
    gap: 6px;
    @include text-style(350, 20px, var(--On-Surface), 140%);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    .back-icon {
      color: inherit;
    }
  }

  .form-title {
    display: flex;
    padding-bottom: 13px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--Outline);

    &-text {
      @include title-text;
    }

    &-sub {
      @include text-style(400, 14px, var(--On-Surface-Var), 140%);
      letter-spacing: 1px;
    }
  }

  .back-to-upload-btn {
    border-radius: 99px;
    background: var(--Prim-Cont);
    @include text-style(400, 14px, var(--On-Prim), 140%);
    padding: 6px 12px;

    &:hover {
      background: var(--Sec-Cont);
      color: var(--On-Sec-Cont);
    }
    &:active {
      background: linear-gradient(0deg, var(--Overlay) 0%, var(--Overlay) 100%), var(--Sec-Cont);
    }
  }

  .btn {
    width: 100%;
  }

  .pass-btn {
    border-radius: 16px;
    background: var(--Sec-Cont);
    width: 224px;
    font-size: 24px;
    letter-spacing: 1px;
  }

  .block-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .input {
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-label {
      @include text-style(500, 16px, var(--On-Surface-Var), 140%);
      text-align: left;
    }

    &-container {
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;
      margin-top: 6px;

      &.invoice-co-name {
        margin-top: 16px;
      }
    }

    &-field {
      @include input-field;
      background: var(--Input-box);
      color: var(--On-input-box);
      caret-color: var(--Outline);

      &::placeholder {
        @include text-style(350, 20px, var(--On-Surface-Var), 140%);
        text-align: left;
      }

      &.date {
        background: var(--Surface-Dim);
        color: var(--On-input-sec);
      }

      &.error-border {
        border: 2px solid var(--Error);
      }

      &.country-code {
        border-radius: 16px 0px 0px 16px;
        color: var(--On-Surface-Var);
        padding: 20px 0px 20px 20px;
        border-right: none;
        display: inline-flex;
        width: auto;
        span {
          margin-right: 11px;
        }
      }

      &.phone-input {
        flex-grow: 1;
        border-radius: 0px 16px 16px 0px;
        padding: 20px 0px;
        border-left: none;
      }
    }
  }

  .clear-button {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    .clear-icon {
      color: var(--Outline);
    }
  }

  .image-preview {
    &-block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-container {
      background: var(--Input-box);
      color: var(--Outline);
      width: 260px;
      height: 156px;
      @include flex-center;
      border-radius: 16px;
      padding: 3px;
      display: flex;
      justify-content: center;

      &:only-child {
        margin: 0 auto;
      }
    }

    &-img {
      border-radius: 14px;
      border: 1px solid var(--Outline);
      width: 100%;
      height: 100%;
      overflow: hidden;

      canvas {
        width: 260px;
        height: 156px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }

  .radio {
    &-group {
      display: flex;
      gap: 20px;
      height: 70px;
      align-items: center;
      flex-wrap: wrap;

      .error-message {
        margin-top: auto;
        margin-bottom: 8px;
        margin-left: auto;
      }
    }

    &-custom {
      width: 20px;
      height: 20px;
      border: 2px solid var(--Outline);
      border-radius: 50%;
      position: relative;
      background-color: var(--Surface);

      &::after {
        content: '';
        width: 12px;
        height: 12px;
        background: var(--On-Surface);
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.2s ease-in-out;
      }
    }

    &-label {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 10px;
      /* 確保這裡有一個定義好的 @mixin text-style */
      @include text-style(350, 20px, var(--On-Surface-Var), 140%);

      input[type='radio'] {
        display: none;
      }

      input[type='radio']:checked + .radio-custom::after {
        transform: translate(-50%, -50%) scale(1);
      }

      input[type='radio']:checked + .radio-custom + .label-text {
        color: var(--Primary);
      }

      input[type='radio']:not(:checked) + .radio-custom + .label-text {
        color: var(--On-Surface-Var);
      }
    }
  }

  .custom-checkbox {
    display: flex;

    .checkbox-input {
      display: none;
    }

    .error-message {
      margin-top: auto;
      margin-bottom: 8px;
      margin-left: auto;
    }

    label {
      width: 20px;
      height: 20px;
      border: 1px solid var(--On-input-sec);
      border-radius: 6px;
      cursor: pointer;
      margin-right: 8px;
      margin-top: 5px;
      flex-shrink: 0;

      &.error-checkbox {
        border: 1px solid var(--Error);
        background: #ffcec6;
      }

      .check-icon {
        color: var(--On-Prim);
        width: 20px;
        height: 20px;
      }
    }

    .label-text {
      @include text-style(350, 20px, var(--On-input-sec), 140%);
      margin-right: 4px;
      flex-shrink: 0;
    }
    .error-label {
      color: var(--Error);
    }

    input:checked + label {
      border-radius: 6px;
      border: 1px solid var(--Primary);
      background: var(--Primary);
    }
  }

  .error-message {
    float: right;
    @include text-style(400, 14px, var(--Error), 140%);
    vertical-align: middle;

    &.phone-sub {
      color: var(--On-Surface-Var);
      letter-spacing: 1px;
    }
  }
}

.id-card-container {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: map-get($spacing, 'lg');

  .upload-container {
    background: var(--Input-box);
    width: 448px;
    height: 282px;
    margin-top: map-get($spacing, 'lg');
    margin-bottom: map-get($spacing, 'xl');
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: map-get($border-radius, 'md');
    cursor: pointer;
    @include text-style(350, map-get($font-sizes, 'md'), var(--Outline), 140%);

    .upload-icon {
      width: 58px;
      height: 58px;
      margin-bottom: 10px;
      color: var(--On-Surface-Var);
    }

    .delete-icon {
      width: 58px;
      height: 58px;
      color: var(--On-Inv-Surf);
      margin-bottom: 10px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: var(--On-Inv-Surf);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-preview:hover .overlay {
  opacity: 1;
}

.image-preview {
  position: relative;
  border-radius: map-get($border-radius, 'md');
  border: 1px solid var(--Outline);
  width: 100%;
  height: 100%;
  overflow: hidden;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-container {
    background: var(--Input-box);
    color: var(--Outline);
    width: 260px;
    height: 156px;
    display: flex;
    justify-content: center;
    border-radius: map-get($border-radius, 'md');
    padding: 3px;

    &:only-child {
      margin: 0 auto;
    }
  }
}

.qr-card {
  width: 100%;
  display: flex;
  padding: map-get($spacing, 'lg');
  align-items: center;
  gap: map-get($spacing, 'sm');
  border-radius: map-get($border-radius, 'md');
  background: var(--Input-box);
  margin-bottom: 30px;
  flex-direction: column;

  .qr-code {
    width: 150px;
    height: 150px;
  }

  .order {
    &-error {
      color: var(--On-Error-Cont);
      @include text-style(400, map-get($font-sizes, 'lg'), var(--On-Error-Cont), 140%);
      letter-spacing: 1.92px;
    }

    &-id {
      color: var(--On-input-box);
      @include text-style(400, map-get($font-sizes, 'lg'), var(--On-input-box), 140%);
      letter-spacing: 1.92px;
    }
  }
}

.code {
  .card {
    width: 612px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px 157px;
    margin-bottom: 24px;

    .card-title {
      color: var(--Primary);
      text-align: center;
      font-size: 32px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 2.56px;
      margin-bottom: 30px;
    }

    .sub-title {
      color: var(--On-input-sec);
      text-align: center;
      font-size: 20px;
      font-weight: 350;
      line-height: 140%;
      margin-bottom: 12px;
    }

    .qr-card {
      width: 100%;
      display: flex;
      padding: 24px;
      align-items: center;
      gap: 12px;
      border-radius: 16px;
      background: var(--Input-box);
      margin-bottom: 0px;
      flex-direction: column;
      margin-bottom: 30px;

      .qr-code {
        width: 150px;
        height: 150px;
      }
      .order-error {
        color: var(--On-Error-Cont);
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1.92px;
      }

      .order-id {
        color: var(--On-input-box);
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 1.92px;
      }
    }

    .check-in-time {
      color: var(--Primary);
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 1.92px;
    }

    &.download {
      height: 184px;
      padding: 24px;
      gap: 24px;
      border-radius: 16px 16px 0 0;
      margin-bottom: 0px;

      .btn {
        width: 100%;
      }

      .svg-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 11px;

        .email-icon {
          color: var(--Secondary);
        }
        .email-text {
          color: var(--Secondary);
          text-align: center;
          font-size: 1rem;
          font-weight: 350;
          line-height: 140%;
        }
      }
    }

    &.card-button {
      height: auto;
      border-radius: 0px 0px 16px 16px;
      display: flex;
      padding: 22px 95px;
      justify-content: center;
      background: var(--Input-box);
      margin-bottom: 96px;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 24px;

      .card-button-title {
        color: var(--On-Surface);
        font-size: 20px;
        font-weight: 700;
        line-height: 110%;
        margin-bottom: 16px;
      }
      .card-button-text {
        color: var(--On-input-sec);
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;

        .point {
          color: var(--Primary);
          font-size: 14px;
          font-weight: 500;
          line-height: 110%;
        }
      }
      .icon {
        color: var(--Primary);
        width: 78px;
        height: 78px;
      }
    }
  }
}

.hidden-template {
  position: absolute;
  top: -200%;
  left: -200%;
  z-index: 0;
}

.ocr {
  .card {
    width: 1113px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .card-content {
      position: relative;
      width: min-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .card-title {
    color: var(--On-Surface-Var);
    margin-bottom: 32px;
  }

  .btn {
    width: calc(100%);
  }

  .upload-group {
    display: flex;
    gap: 24px;
  }
}

// Media Queries
@media (max-width: 1153px) {
  .title-block {
    margin-top: map-get($spacing, 'sm');
    width: calc(100% - 80px);
  }

  .id-card-container {
    flex-direction: column;
  }

  .card {
    padding: map-get($spacing, '2xl') map-get($spacing, 'xl');
    width: calc(100% - 80px);
  }

  .ocr .card {
    width: calc(100% - 60px);
  }

  .form .card {
    width: calc(100% - 60px);
  }

  .form .card.privacyPolicy {
    width: calc(100% - 60px);
  }

  .form .custom-checkbox .error-message {
    width: 50px;
    margin-top: 0;
  }

  .home {
    .card {
      width: 612px;
    }
  }

  .id-card-container {
    display: flex;
    gap: 0px;
  }

  .id-card-container .upload-container {
    width: 448px;
    height: 282px;
    margin-bottom: 0px;
  }

  .card-content .btn {
    margin-top: 24px;
  }

  .ocr .btn {
    width: 448px;
  }
}

@media (max-width: 768px) {
  .home {
    .card {
      width: calc(100% - 40px);
      margin: auto;
      margin-bottom: 36px;
    }
  }

  .form .back-route {
    display: none;
  }

  .back-route {
    display: none;
  }

  .code .card  {
    width: calc(100% - 40px);
    padding: 32px;
  }

  .form .radio {
    &-group {
      gap: 15px;
      margin: 5px;
    }
  }
}

@media (max-width: 658px) {
  .title-block {
    width: calc(100% - 50px);
  }

  .card {
    position: relative;
    width: calc(100% - 20px);
  }

  .id-card-container {
    display: flex;
    gap: 0px;
    width: 100%;
    align-items: center;
  }

  .form .card-content {
    position: relative;
    width: 100%;
  }

  .ocr .card .card-content {
    width: 100%;
  }

  .id-card-container .upload-container {
    width: calc(100% - 20px);
    margin-bottom: 0px;
  }

  .ocr .btn {
    width: calc(100% - 20px);
  }

  .card-content .btn {
    margin-top: 24px;
  }

  .code .card.card-button {
    padding: 20px 30px;
  }

  .home .card {
    padding: 30px 20px;
  }

  .home .btn-group .btn {
    padding: 15px;
  }
}

@media (max-width: 435px) {
  .title-block {
    width: calc(100% - 10px);

    .title p {
      font-size: 24px;
    }
  }

  .card {
    width: calc(100% - 10px);
  }

  .home .card {
    position: relative;
    width: calc(100% - 30px);
    padding: 20px;
  }

  .id-card-container .upload-container {
    width: 100%;
    height: 282px;
    margin-bottom: 0px;
  }

  .card-content .btn {
    margin-top: 24px;
  }

  .id-card-container {
    display: flex;
    gap: 0px;
  }

  .ocr .card .card-content {
    width: 100%;
  }

  .ocr .card .card-title {
    font-size: 24px;
  }

  .ocr .btn {
    width: 100%;
  }

  .code .card.card-button {
    height: auto;
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: center;
    background: var(--Input-box);
    margin-bottom: 96px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}